<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="新ファイル名を指定して実行.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
      <新ファイル名を指定して実行.Properties.Settings>
        <setting name="kidoSetting" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="displaySetting" serializeAs="String">
          <value>左上</value>
        </setting>
        <setting name="COMMANDS" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>eventvwr,イベントビューア,,eventvwr,</string>
              <string>inetcpl.cpl,インターネットオプション,,inetcpl.cpl,</string>
              <string>ciadv.msc,インデックスサービス,,ciadv.msc,</string>
              <string>explorer,エクスプローラ,,explorer,</string>
              <string>eudcedit,外字エディタ,,eudcedit,</string>
              <string>magnify,拡大鏡,,magnify,</string>
              <string>desk.cpl,画面のプロパティ,,desk.cpl,</string>
              <string>control,コントロールパネル,,control,</string>
              <string>control admintools,管理ツール,,control admintools,</string>
              <string>control printers,デバイスとプリンタ,,control printers,</string>
              <string>control folders,フォルダオプション,,control FOLDERS,</string>
              <string>fsmgmt.msc,共有フォルダ,,fsmgmt.msc,</string>
              <string>gpedit.msc,グループポリシー,,gpedit.msc,</string>
              <string>joy.cpl,ゲームコントローラ,,joy.cpl,</string>
              <string>mmc,コンソール,,mmc,</string>
              <string>compmgmt.msc,コンピュータの管理,,compmgmt.msc,</string>
              <string>services.msc,サービス,,services.msc,</string>
              <string>mmsys.cpl,サウンドとオーディオデバイスのプロパティ,,mmsys.cpl,</string>
              <string>sndrec32,サウンドレコーダー,,sndrec32,</string>
              <string>sysedit,システムエディタ,,sysedit,</string>
              <string>msconfig,システム構成ユーティリティ,,msconfig,</string>
              <string>msinfo32,システム情報,,msinfo32,</string>
              <string>sysdm.cpl,システムのプロパティ,,sysdm.cpl,</string>
              <string>wuaucpl.cpl,自動更新,,wuaucpl.cpl,</string>
              <string>certmgr.msc,証明書,,certmgr.msc,</string>
              <string>osk,スクリーンキーボード,,osk,</string>
              <string>spider,スパイダ,,spider,</string>
              <string>fxscover,送付状エディタ,,fxscover,</string>
              <string>sol,ソリティア,,sol,</string>
              <string>taskmgr,タスクマネージャ,,taskmgr,</string>
              <string>intl.cpl,地域と言語のオプション,,intl.cpl,</string>
              <string>winchat,チャット,,winchat,</string>
              <string>cleanmgr,ディスククリーンアップ,,cleanmgr,</string>
              <string>dfrg.msc,ディスクデフラグツール,,dfrg.msc,</string>
              <string>diskmgmt.msc,ディスクの管理,,diskmgmt.msc,</string>
              <string>devmgmt.msc,デバイスマネージャ,,devmgmt.msc,</string>
              <string>powercfg.cpl,電源オプション,,powercfg.cpl,</string>
              <string>calc,電卓,,calc,</string>
              <string>ncpa.cpl,ネットワーク接続,,ncpa.cpl,</string>
              <string>mshearts,ハーツ,,mshearts,</string>
              <string>perfmon,パフォーマンス,,perfmon,</string>
              <string>timedate.cpl,日付と時刻のプロパティ,,timedate.cpl,</string>
              <string>sigverif,ファイルの署名と確認,,sigverif,</string>
              <string>fonts,フォントフォルダ,,fonts,</string>
              <string>appwiz.cpl,プログラムの追加と削除,,appwiz.cpl,</string>
              <string>mspaint,ペイント,,mspaint,</string>
              <string>sndvol32,ボリュームコントロール,,sndvol32,</string>
              <string>main.cpl,マウスのプロパティ,,main.cpl,</string>
              <string>notepad,メモ帳,,notepad,</string>
              <string>charmap,文字コード表,,charmap,</string>
              <string>nusrmgr.cpl,ユーザーアカウント,,nusrmgr.cpl,</string>
              <string>ntmsmgr.msc,リムーバブル記憶領域の管理,,ntmsmgr.msc,</string>
              <string>ntmsoprq.msc,リムーバブル記憶領域の操作要求,,ntmsoprq.msc,</string>
              <string>mstsc,リモートデスクトップ接続,,mstsc,</string>
              <string>regedit,レジストリエディタ,,regedit,</string>
              <string>secpol.msc,ローカルセキュリティポリシー,,secpol.msc,</string>
              <string>lusrmgr.msc,ローカルユーザとグループ,,lusrmgr.msc,</string>
              <string>logoff,ログオフ,,logoff,</string>
              <string>wordpad,ワードパット,,wordpad,</string>
              <string>msaccess,Access,,msaccess,</string>
              <string>dxdiag,Direct X診断ツール,,dxdiag,</string>
              <string>excel,Excel,,excel,</string>
              <string>iexpress,IExpress（自己解凍書庫作成）,,iexpress,</string>
              <string>iexplorer,Internet Explorer,,iexplorer,</string>
              <string>wupdmgr,Microsoft Update,,wupdmgr,</string>
              <string>mrt,Microsoft Windows　悪意のあるソフトウェアの削除ツール,,mrt,</string>
              <string>nslookup,nslookup,,nslookup,</string>
              <string>odbcad32,ODBCデータソースアドミニストレータ,,odbcad32,</string>
              <string>outlook,Outlook,,outlook,</string>
              <string>powerpnt,PowerPoint,,powerpnt,</string>
              <string>telnet,Telnet,,telnet,</string>
              <string>visio32,Visio,,visio32,</string>
              <string>wmplayer,Windows Media Player,,wmplayer,</string>
              <string>wscui.msc,Windowsセキュリティセンター,,wscui.msc,</string>
              <string>winver,Windowsバージョン情報,,winver,</string>
              <string>firewall1,Windowsファイアウォール,,firewall.cpl,</string>
              <string>firewall2,Windowsファイアウォール(詳細),,wf.msc,</string>
              <string>winword,Word,,winword,</string>
              <string>shell:Startup,ユーザーのスタートアップ,\Microsoft\Windows\Start Menu\Programs\Startup,shell:Startup,</string>
              <string>shell:Start Menu,ユーザーのスタートメニュー,【ホットキ-】\Microsoft\Windows\Start Menu,shell:Start Menu,</string>
              <string>shell:Programs,プログラムフォルダ,,shell:Programs,</string>
              <string>shell:Downloads,ダウンロードフォルダ,,shell:Downloads,</string>
              <string>cmd /k ipconfig,コマンドプロンプト,,cmd /k ipconfig,</string>
              <string>cmd,コマンドプロンプト,,cmd,</string>
              <string>ms-settings:windowsupdate,WindowsUpdate,,ms-settings:windowsupdate,</string>
              <string>ms-settings:powersleep,電源とスリープ,,ms-settings:powersleep,</string>
              <string>ms-settings:display,ディスプレイ,,ms-settings:display,</string>
              <string>ms-settings:printers,プリンターとスキャナ,,ms-settings:printers,</string>
              <string>hosts,ホストファイル編集,,notepad C:\Windows\System32\drivers\etc\hosts,</string>
              <string>share,共有フォルダ,,D:\95_share,</string>
              <string>work,ワークフォルダ,,D:\96_work,</string>
              <string>tool,ツールフォルダ,,D:\97_tool,</string>
              <string>printscreen,キャプチャフォルダ,,D:\98_printscreen,</string>
              <string>my,ショートカットキーフォルダ,,D:\99_my,</string>
              <string>environment,環境変数,,rundll32.exe sysdm.cpl EditEnvironmentVariables,</string>
              <string>kinou,機能の有効化または無効化,,OptionalFeatures.exe,</string>
              <string>UAC,ユーザー制御,,UserAccountControlSettings.exe,</string>
              <string>taskschd.msc,タスクマネージャ,,taskschd.msc,</string>
            </ArrayOfString>
          </value>
        </setting>
      </新ファイル名を指定して実行.Properties.Settings>
    </userSettings>
</configuration>